*
!.gitignore
!README.md
!CME292_lecture_notes
CME292_lecture_notes/*
!CME292_lecture_notes/lec1
!CME292_lecture_notes/lec1/*
!CME292_lecture_notes/lec2
!CME292_lecture_notes/lec2/*
!CME292_lecture_notes/lec3
!CME292_lecture_notes/lec3/*
!CME292_lecture_notes/lec4
!CME292_lecture_notes/lec4/*
